<form action="." method="POST">
  <label>What username do you want?</label>
  <input type="text" name="username" autofocus="true" />
  <label>Set your password</label>
  <input type="password" name="password" />
  <label>Confirm password</label>
  <input type="password" name="passwordConfirm" />
  <input type="submit" value="Sign up" />
</form>
